body{
  background-color: #303030;
  padding-top: 50px;
  color: white;
  text-align: center;
}

#container_clock{
  width: 600px;
  background-color: red;
}

#setTimer{
  font-size: 16px;
  margin: 20px;
  background-color: blue;
}

#counter{
  margin: 20px;
  background-color: green;
}

#progressBar{
  margin: 20px;
  background-color: orange;
}

.buttons{
  width: 30px;
  height: 30px;
}

footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: white;
}
